:root {
  --black: #3c3c3c;
  --gray: #9b9999;
  --white: whitesmoke;
}

@font-face {
  font-family: 'Queensila';
  src: url('../fonts/Queensila.ttf') format('truetype');
}

@font-face {
  font-family: 'AppleSDGothicNeo';
  src: url('../fonts/AppleSDGothicNeoR.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-break: keep-all;
}

body {
  font-family: 'AppleSDGothicNeo', sans-serif;
  width: 100%;
  height: 100%;
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: var(--white); */
  background-image: url('../images/pattern.svg');
  background-size: auto;
  color: var(--gray);
}

main {
  width: 420px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: solid 1px #dddddd; */
  border-radius: 10px;
  background-color: white;
}

#title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110%;
  margin: 10%;
}

hr {
  border: var(--black) 1px solid;
}

input {
  box-sizing: border-box;
  position: relative;
  bottom: 15px;
}

input[type='text'] {
  padding: 20px;
  width: 270px;
  height: 30px;
  border: none;
  outline: none;
  background-color: var(--white);
  /* border-radius: 25px 0 0 25px; */
  border-radius: 20px;
}

.btn {
  background-color: transparent;
  border: none;
}

img {
  width: 70%;
}

.add {
  transition: all 0.2s linear;
}

.add:hover {
  transform: scale(1.2);
}

#delete {
  font-size: 0.7rem;
  color: grey;
  margin: 0 0 16px 25px;
}

#delete:hover {
  color: crimson;
}

#list {
  text-align: left;
  justify-content: first baseline;
}

ul {
  color: var(--black);
  font-size: 1rem;
  list-style: circle;
  margin: 20px;
}

@media (max-width: 768px) {
  body {
    padding: 20px;
  }
  input[type='text'] {
    width: 230px;
  }
}
