@font-face {
  font-family: 'Gangitem';
  src: url('../fonts/Gangitem.otf') format('opentype');
}

@font-face {
  font-family: 'AppleSDGothicNeoR';
  src: url('../fonts/AppleSDGothicNeoR.ttf') format('truetype');
}

:root {
  --black: #3c3c3c;
  --white: whitesmoke;
}

* {
  font-family: 'Gangitem', 'AppleSDGothicNeoR', 'san-serif';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-break: keep-all;
}

body {
  width: 100%;
  height: 100%;
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  /* background-image: url('../images/background.svg');
  background-size: cover; */
  color: #9b9999;
}

main {
  width: 420px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: solid 1px #dddddd; */
  border-radius: 10px;
  background-color: white;
}

#title {
  margin: 5%;
  font-size: 4rem;
  color: var(--black);
  position: relative;
  left: 5%;
}

.ellipse {
  width: 8%;
  position: absolute;
  top: 17%;
  left: 50%;
}

input {
  box-sizing: border-box;
  position: relative;
  bottom: 15px;
}

input[type='text'] {
  padding: 20px;
  height: 30px;
  border: none;
  outline: none;
  background-color: var(--white);
  /* border-radius: 25px 0 0 25px; */
  border-radius: 20px;
}

.btn {
  background-color: transparent;
  border: none;
}

img {
  width: 70%;
}
.add {
  transition: all 0.2s linear;
}

.add:hover {
  transform: scale(1.2);
}

#delete {
  color: crimson;
  margin: 10px;
}

ul {
  list-style: none;
  margin: 5px;
}

@media (max-width: 767px) {
  body {
    background-size: auto;
    padding: 0;
  }
  main {
    width: 100%;
    border: none;
  }
}
